.speakers {
  margin: 38% 0;

  &__title {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 49px;
    color: #C2BCD2;
    margin: 0 0 70px 0;
  }
}