.logo {
  display: flex;
  gap: 1rem;
  align-self: flex-start;
  &__text{
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: 400;
    color: #C2BCD2;
    margin: 0;
  }
  &__title {
    font-size: 26px;
    line-height: 34px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 21px;
  }
}