.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

@media(max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}