.footer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;

  &__list {
    margin: 0;
    padding: 0;
    gap: 2rem;
    display: flex;
    flex-direction: column;

    &-item {
      font-family: 'JetBrains Mono';
      font-style: normal;
      font-weight: 200;
      font-size: 16px;
      line-height: 21px;
      display: flex;
      align-items: center;
      color: #C2BCD2;
    }
  }
  &__link{
    cursor: pointer;
    text-transform: uppercase;
  }
  &__text{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}